/* app/layout.module.css */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .main {
    flex: 1;
    padding: 2rem;
    min-height: calc(100vh - 190px);
  }
  
  .body {
    background-color: #121212; /* Dark theme background */
    color: #ffffff; /* Text color */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  